<div class="container spacer">

  <div class="panel panel-default">
    <div class="panel-heading">
      New Contact

    </div>
    <div class="panel-body">

      <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)" >

        <div class="form-group">
          <label class="control-label">Nom</label>
          <input class="form-control"   type="text" ngModel  id="nom" name="nom"   />
        </div>


        <div class="form-group">
          <label class="control-label">Prenom</label>
          <input class="form-control"   type="text" ngModel name="prenom" required />
        </div>

        <div class="form-group">
          <label class="control-label">Email</label>
          <input class="form-control"   type="email" ngModel name="email" email />
        </div>

        <div class="form-group">
          <label class="control-label">Date Naissance</label>
          <input class="form-control"   type="Date" ngModel name="datenaissance" required />
        </div>

        <div class="form-group">
          <label class="control-label">Telephone</label>
          <input class="form-control"   type="text" ngModel name="tel" required />
        </div>

        <button  [disabled]="!f.valid" type="submit" class="btn btn-primary">Valider</button>

      </form>

    </div>

  </div>



</div>
